.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem 3rem;
}

.imgwrapper {
  display: grid;
  place-items: center;
  margin: 1.6rem 0;
}

.desc {
  margin: 1.6rem 0
}

.relatedfilm {
  margin-top: 1.6rem;
}

@media screen and (min-width: 570px) {
  .supercontainer {
    display: grid;
    place-items: center;
  }
  .container {
    grid-template-columns: repeat(1fr 2fr);
    grid-gap: 20px;
    grid-template-areas:  
      "img desc desc"
      "film film film"; 
    max-width: 1000px;
  }

  .imgwrapper {
    grid-area: img; 
    align-items: initial;
  }

  .desc {
    grid-area: desc; 
  }

  .relatedfilm {
    grid-area: film; 
  }

}